
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="/css/site.css">
<div>
    <h1>Bienvenido Al super Ahorcado <h1>
    <h2> Presione <a  href= '@Url.Action("IrAlJuego", "Home")' alt = "Ir al ">  acá</a></h2>
    
</div>
