
@{
    ViewData["Title"] = "Juego";
}
<link rel="stylesheet" href="/css/site.css">

<h1> @ViewBag.VBJuego </h1>

<h2> Letras utilizadas : @ViewBag.ListLetrasUsuario </h2>
<h3> cantidad de jugadas : @ViewBag.Intentos </h3>

//hacer los formularios
